================================================================================================
<h1>
  Nouvelle Partie
</h1>
<div>
  Player 1 :
  <app-users-list></app-users-list>
  <input type="text">
</div>
<div>
  Player 2 :
  <app-users-list></app-users-list>
  <input type="text">
</div>
<h2>
  Créer un nouvelle utilisateur
</h2>
<div>
  <input type="text" #name>
  <input type="text" #passWord>
  <button (click)='createUser(name.value, passWord.value)'>Créer utilisateur</button>
</div>
<button>Créer une partie</button>
================================================================================================