<h1>Othello</h1>

<div>Menu
  <app-menu></app-menu>
 <!-- <app-menu *ngIf = "state == 'Menu'" (newGame)="state='Users'" (loadGame)="state='GamesRunning'"></app-menu>-->
</div>

<div>Users List
  <app-users></app-users>
 <!--  <app-users *ngIf = "state == 'Users'" (createNewGame)="state='Game'" ></app-users>-->
</div>

<div>Games running List
  <app-games-running (loadOldGame)='loadGame($event)'></app-games-running>
  Selected: {{id}}
  <!--<app-games-running *ngIf = "state == 'GamesRunning'" (loadOldGame)="state='Game'"></app-games-running>-->
</div>

<div>Game
  <app-game *ngIf = "state == 'Game'"></app-game>
</div>
