<h1>Othello</h1>

<div>Menu
  <app-menu *ngIf = "state == 'Menu'" (newGame)="state='Users'" (loadGame)="state='GamesRunning'"></app-menu>
</div>

<div>Users List
  <app-users  [newUsers]='users' (createUser)='createUser($event)' (createNewGame)=createGame($event) *ngIf = "state == 'Users'"  (createNewGame)="state='Game'"></app-users>
</div>

<div>Games running List
  <app-games-running (loadOldGame)='loadGame($event)' *ngIf = "state == 'GamesRunning'" (loadOldGame)="state='Game'"></app-games-running>
  Selected: {{id}}
</div>

<div>Game
  <app-game (selectBox)='addToken($event)' [gameState]='gameState' *ngIf = "state === 'Game' ">
  </app-game>
</div>
